
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc


.coverage
.tox/
.pytest_cache/


*.cache
*.DS_Store
*.bak
*.swp
*.tmp
*.orig

.vscode/
.idea/
*.code-workspace


env/
venv/
delivery_env/
ENV/
env.bak/
venv.bak/
*.env


staticfiles/
media/


.env
.env.*


node_modules/
npm-debug.log


**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py
