{% extends "base.html" %}
{% load static %}

{% block navigate %}
<nav class="PcNav">
    <article class="PcNavArticle">
        <section class="PositivusLogo">
            <a href="/">
                <img src="{% static 'images/favicon.png' %}" alt="Positivus Logo" />
            </a>
        </section>
        <section class="RightSideList">
            <ul class="ListNav">
                <li data-text="navOffer" class="whyUsLink">Что мы предлагаем</li>
                <li data-text="navAdvantages" class="adventageLink">Преимущества</li>
                <li data-text="navFaq" class="questions">Вопросы</li>
                <li data-text="navGallery" class="galleryLink">Галерея</li>
                <li><a href="{% url 'shop' %}" data-text="navShop">Магазин</a></li>
                <li data-text="navCart" class="cartLink">
                    <a href="{% url 'cart_detail' %}">Корзина</a>
                </li>
            </ul>
        </section>
        <section class="LangNavSection">
            <ul>
                <li class="submenu-link" data-lang="ru">RU</li>
                <li class="submenu-link" data-lang="en">EN</li>
                <li class="submenu-link" data-lang="cz">CZ</li>
                <li class="submenu-link" data-lang="uk">UK</li>
            </ul>
        </section>
        <section class="RightSideList">
            <ul class="ListNav">
                <li>
                    <button data-text="navContact" class="contactUsLink1">
                        Свяжитесь с нами
                    </button>
                </li>
            </ul>
        </section>
        <section class="burgerSection">
            <label class="popup">
                <input type="checkbox" />
                <div class="burger" tabindex="0">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav class="popup-window">
                    <legend data-text="legendAction">Действия</legend>
                    <ul>
                        <li>
                            <button>
                                <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="white"
                                    fill="none" viewBox="0 0 24 24" height="14" width="14"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle r="4" cy="7" cx="9"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>
                                <a href="#adventage" class="adventageLink"
                                    data-text="navAdvantages"><u>Преимущества</u></a>
                            </button>
                        </li>
                        <li>
                            <button>
                                <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="white"
                                    fill="none" viewBox="0 0 24 24" height="14" width="14"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                                    <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                                </svg>
                                <a href="#whyUsId" class="whyUsLink" data-text="navOffer">Предлагаем</a>
                            </button>
                        </li>

                        <li>
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                    width="20px" fill="#FFFFFF">
                                    <path
                                        d="M263.79-96Q234-96 213-117.21t-21-51Q192-198 213.21-219t51-21Q294-240 315-218.79t21 51Q336-138 314.79-117t-51 21Zm432 0Q666-96 645-117.21t-21-51Q624-198 645.21-219t51-21Q726-240 747-218.79t21 51Q768-138 746.79-117t-51 21ZM253-696l83 192h301l82-192H253Zm-31-72h570q14 0 20.5 11t1.5 23L702.63-476.14Q694-456 676.5-444T637-432H317l-42 72h493v72H276q-43 0-63.5-36.15-20.5-36.16.5-71.85l52-90-131-306H48v-72h133l41 96Zm114 264h301-301Z" />
                                </svg>
                                <a href="{% url 'shop' %}" class="whyUsLink" data-text="navShop">Магазин</a>
                            </button>
                        </li>

                        <hr />
                        <li>
                            <button>
                                <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="white"
                                    fill="none" viewBox="0 0 24 24" height="14" width="14"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect ry="2" rx="2" height="13" width="13" y="9" x="9"></rect>
                                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                                </svg>
                                <a href="#faqBlock" class="questions" data-text="navFaq">Вопросы</a>
                            </button>
                        </li>

                        <li>
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                    width="20px" fill="#FFFFFF">
                                    <path
                                        d="M263.79-96Q234-96 213-117.21t-21-51Q192-198 213.21-219t51-21Q294-240 315-218.79t21 51Q336-138 314.79-117t-51 21Zm432 0Q666-96 645-117.21t-21-51Q624-198 645.21-219t51-21Q726-240 747-218.79t21 51Q768-138 746.79-117t-51 21ZM253-696l83 192h301l82-192H253Zm-31-72h570q14 0 20.5 11t1.5 23L702.63-476.14Q694-456 676.5-444T637-432H317l-42 72h493v72H276q-43 0-63.5-36.15-20.5-36.16.5-71.85l52-90-131-306H48v-72h133l41 96Zm114 264h301-301Z" />
                                </svg>
                                <a href="{% url 'cart_detail' %}" class="cartLink" data-text="navCart">Корзина</a>
                            </button>
                        </li>

                        <li>
                            <button>
                                <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="white"
                                    fill="none" viewBox="0 0 24 24" height="14" width="14"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                                </svg>
                                <a href="#gallery" class="galleryLink" data-text="navGallery">Галерея</a>
                            </button>
                        </li>
                        <hr />
                        <li>
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960"
                                    width="14px" fill="#e8eaed">
                                    <path
                                        d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
                                </svg>
                                <a href="#FooterNavId" class="galleryLink" data-text="navContact">Свяжитесь с нами!</a>
                            </button>
                        </li>
                    </ul>
                </nav>
            </label>
        </section>
    </article>
</nav>
{% endblock %}


{% block main %}
<h1>{{ service.title }}</h1>
<p>{{ service.description }}</p>

{% endblock %}